<footer class="text-center">
    <div class="row newsletter">
        <div class="col-10 offset-1 d-flex flex-column justify-content-center">
            <h1>SUSCRÍBETE EN NUESTRO NEWSLETTER</h1>
            <h2>y obtén las mejores recetas que tenemos en Ricomida</h2>
            <div class="row justify-content-md-center">
                <div class="col-12 col-lg-4">
                    <button class="btn btn-danger btn-lg border mt-4">Empezar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-12 mt-3 mb-3">
            <a class="navbar-brand ricomida" href="#">Ricomida</a>
        </div>
    </div>
</footer>

